<div class="centered-div">
  <h1>Edit client</h1>
  <%= form_with model: @client, class:'form'  do |form| %>
    <% Client.column_names.reject { |a| fields_to_exclude.include?(a)}.each do |field| %>
      <div class="inputs-wrapper">
        <%= form.label field.humanize, for: "client_#{field.to_sym}" %>
        <%= form.text_field field.to_sym, required: true %>
      </div>
    <% end %>
    <div class="blockSubmitWrapper">
        <%= link_to "Back", clients_pages_path, class:'wrapperButton back' %>
        <%= form.submit "Save", class:'wrapperButton saved' %>
    </div>
  <% end %>
</div>
