<div>
<%= link_to "1 Get All Cars", get_request_requests_path %>
<%= link_to "2 Beetwen Request", beetwen_request_requests_path %>
<%= link_to "3 In Request", in_request_requests_path %>
<%= link_to "4 Like", like_request_requests_path %>
<%= link_to "5 Twice Condition And", twiceAnd_request_requests_path %>
<%= link_to "6 Twice Condition OR", twiceOr_request_requests_path %>
<%= link_to "7 Distinct", distinct_request_requests_path %>
<%= link_to "8 Min Max", minMax_request_requests_path %>
<%= link_to "9 Sum Avg", sumAvg_request_requests_path %>
<%= link_to "10 Count", count_request_requests_path %>
<%= link_to "11 AgregatFunc Few Field", aggregatFuncFewField_request_requests_path %>
<%= link_to "12 AgregatFunc Where", aggregatFuncWhere_request_requests_path %>
<%= link_to "13 AgregatFunc With Aggregate", aggregatFuncWithAggregate_request_requests_path %>
<%= link_to "15 Inner", innerJoin_request_requests_path %>
<%= link_to "16 Left Join", leftJoin_request_requests_path %>
<%= link_to "17 Right Join", rightJoin_request_requests_path %>
<%= link_to "18 Inner Join Where", innerJoinCondition_request_requests_path %>
<%= link_to "19 Inner Join Like", innerJoinLike_request_requests_path %>
<%= link_to "23 Sub Func", normalSubQuery_request_requests_path %>
<%= link_to "24 Exist", exist_request_requests_path %>
<%= link_to "25 Any", any_request_requests_path %>
<%= link_to "26 SubQuery In", inSubQuery_request_requests_path %>
</div>
