<%= link_to "Back", requests_path %>
<h1 class='task'>
  Запит з використанням підзапита з використанням IN.
</h1>
<h1 class='description'>
  Запит поверне всі записи з таблиці Cars, де марка автомобіля зустрічається в списку марок автомобілів, що випущені в 2020 році.
</h1>
<h3>
  <%= @sql %>
</h3>
<h2>
  Total Count
  <%= @records.count %>
</h2>
<table>
  <thead>
    <tr class='tr'>
      <% @records.columns.each do |field| %>
        <th>
          <%= field %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @records.each do |record| %>
      <tr class='trBody'>
        <% record.each do |_col, val| %>
          <td>
            <%= val %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
