<%= link_to "Back", requests_path %>
<h1>
  Запит з використанням LEFT JOIN.
  Запит поверне таблицю з наступними полями: id клієнта, ім'я клієнта, прізвище клієнта, кількість бонусів у програмі лояльності, назва програми лояльності. Якщо клієнт не має записів у таблиці User_loyalty_programs, то будуть повернуті null значення для полів count_bonus та program_name.
</h1>
<h2>
  <%= @sql %>
</h2>
<h2>
  Total Count
  <%= @records.count %>
</h2>
<table>
  <thead>
    <tr>
      <% @records.columns.each do |field| %>
        <th>
          <%= field %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @records.each do |record| %>
      <tr>
        <% record.each do |_col, val| %>
          <td>
            <%= val %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
