<div class="centered-div">
  <h1>Edit fuel</h1>
  <%= form_with model: @fuel, class:'form' do |form| %>
    <% Fuel.column_names.reject { |a| fields_to_exclude.include?(a)}.each do |field| %>
      <div class="inputs-wrapper">
        <%= form.label field.humanize, for: "fuel_#{field.to_sym}" %>
        <%= form.text_field field.to_sym, required: true %>
      </div>
    <% end %>
    <div class="blockSubmitWrapper">
      <%= link_to "Back", fuels_pages_path, class:'wrapperButton back' %>
      <%= form.submit "Save", class:'wrapperButton saved' %>
    </div>
  <% end %>
</div>
