<!DOCTYPE html>
<html>
  <head>
    <title>Kyrsach</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= link_to "Clients", clients_pages_path %>
    <%= link_to "Cars", cars_pages_path %>
    <%= link_to "Gas stations", gas_stations_pages_path %>
    <%= link_to "Fuels", fuels_pages_path %>
    <%= link_to "Transactions", transactions_pages_path %>
    <%= link_to "Administrators", administrators_pages_path %>
    <%= link_to "Loyalty programs", loyalty_programs_pages_path %>
    <%= link_to "User loyalty programs", user_loyalty_programs_pages_path %>
    <%= link_to "Current date transactions", current_date_transactions_pages_path %>
    <%= link_to "Home", root_path %>
    <%= yield %>
  </body>
</html>
